PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173
DATABASE_URL="file:./dev.db"
JWT_SECRET="vigileye_dev_secret_key_change_in_prod"
JWT_REFRESH_SECRET="vigileye_dev_refresh_key_change_in_prod"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_EXPIRES_IN="7d"
